<header class="main-header" style="width: -webkit-fill-available;">
  <a [routerLink]="['/home']" class="logo">
    <span class="logo-mini"><strong>D</strong>S</span>
    <span class="logo-lg"><strong>Demo</strong>System</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" id="testeste" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ usuario.imagem || '../../../../assets/img/sem-foto.jpg' }}" class="user-image"
              alt="Foto do Perfil">
            <span class="hidden-xs">{{ getNome }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="{{ usuario.imagem || '../../../../assets/img/sem-foto.jpg' }}" class="img-circle"
                alt="Foto do Perfil">
              <p>
                {{ usuario.nomeCompleto }} <br>
                <small>Perfil: {{ usuario.perfilDescricao }}</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <button title="Sair" (click)="signOut()" class="btn btn-danger pull-right"
                  style="margin-left: 15px;"><em class="fa fa-power-off"></em>&nbsp;Sair</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
